
body {
      height: 100vh;
      width: 100%;
      font-family: Arial, sans-serif;
      background-image: url('1.jpg');
      opacity: 0.7;
      transition: opacity 0.9s ease-in-out;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }


.container {
    display: flex;
    min-height: 100vh;
}

.right {
    flex: 1;
    /* background-color: rgba(0, 0, 0, 0.3); */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 40px;
}


.form {
    background-color: #797676;
    padding: 30px;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #ffffff;
}

.input {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    padding-top: 15px;
}

.down {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.checkbox {
    font-size: 14px;
    font-weight: 900;
    color: #f1eeee;
    margin: 15px 0;
    display: block;
}

p{
    text-align: center;
    color: #efebeb;
}

.btn {
    padding: 12px;
    background-color: #f9b43a;
    border: none;
    border-radius: 6px;
    color: #000;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;    
    width: 100%;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        background: none;
        background-color: #000;
    }

    .right {
        width: 100%;
        padding: 20px;
    }

    .form {
        max-width: 100%;
    }
}